<%= render "template_top", :title => @subject %>

  <p><%= raw(@body) %></p>
		
  <%= render "followus" %>

	<p><a href="http://www.cloudspokes.com">http://www.cloudspokes.com</a></p>

  </body>
</html>